venv
2a-resenha-luis-miguel.pdf
3a-resenha-luis-miguel.pdf
4a-resenha-luis-miguel.pdf
5a-resenha-luis-miguel.pdf
6a-resenha-luis-miguel.pdf
luis_miguel-frazao_de_sousa-estatistica-SIBD-2026-1.pdf
TRA1_UFC-SIBD-1o_Trabalho-Referencia_1a_Avalicao-2026-04-20-vf.pdf
UFC-SIBD-Evolucao dos Computadores-v1.pdf
UFC-SIBD-R1-Sistemas_Informacao-Conceito_Definicao_Exemplo.pdf
UFC-SIBD-R2-Papel_dos_Sistemas_de_Informa‡Æo_no_Desenvolv_da_Intelig_Coletiva_nas_Empresas.pdf
UFC-SIBD-R3-Tipos_de_Sistemas_de_Informacao.pdf
UFC-SIBD-R4-Sistemas_de_Apoio_a_Decisao-1_2.pdf
UFC-SIBD-R4-Sistemas_de_Apoio_a_Decisao-2_2.pdf
UFC-SIBD-R5-Sucesso_e_Desafios_na_Tomada_de_Decisao_Automatizada.pdf
UFC-SIBD-R6-Banco_de_Dados_e_Informacoes-Apresentacao-v1.pdf
UFC-SIBD-R6-Banco_de_Dados_e_Informacoes.pdf
nomes.txt
UFC-SIBD-R2-Papel_dos_Sistemas_de_Informação_no_Desenvolv_da_Intelig_Coletiva_nas_Empresas.pdf